<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <img src="/img/logo.jpeg" alt="Meadowlark Travel Logo" style="width: 300px;height: 100px;">
    {{{body}}}
  </body>
</html>
